[Desktop Entry]
Version=1.0
Name=Documentation Slint
Name[ar]=Slint توثيق
Name[bg]=Documentation Документация
Name[bn]=ডকুমেন্টেশন Slint
Name[bs]=Dokumentacija Slint
Name[cs]=Dokumentace Slint
Name[da]=Dokumentation Slint
Name[de]=Dokumentation Slint
Name[el]=Τεκμηρίωση Slint
Name[en]=Documentation Slint
Name[eo]=Dokumentado Slint
Name[es]=Documentación Slint
Name[et]=Dokumentatsioon Slint
Name[fa]=Slint مستندات
Name[fi]=Dokumentointi Slint
Name[fr]=Documentation Slint
Name[ga]=Doiciméadúchán Slint
Name[gu]=Dastāvējīkaraṇa Slint
Name[hi]=Dokumentacija Slint
Name[hu]=Dokumentáció Slint
Name[id]=Dokumentasi Slint
Name[it]=Documentazione Slint
Name[ja]=ドキュメンテーション Slint
Name[kn]=ಡದಾಖಲೀಕರಣ Slint
Name[ko]=선적 서류 비치 Slint
Name[lt]=Dokumentacija Slint
Name[lv]=Dokumentācija Slint
Name[ml]=പ്രമാണീകരണം Slint
Name[mr]=दस्तऐवजीकरण Slint
Name[ms]=Dokumentasi slint
Name[mt]=Dokumentazzjoni Slint
Name[nb]=Dokumentasjon Slint
Name[nl]=Documentatie Slint
Name[pa]=ਦਸਤਾਵੇਜ਼ੀਕਰਨ Slint
Name[pl]=Dokumentacja Slint
Name[ps]=Slint اسناد
Name[ro]=Documentație Slint
Name[ru]=Документация Slint
Name[sk]=Dokumentácia Slint
Name[sr]=Документација Slint
Name[sv]=Dokumentation Slint
Name[sw]=Nyaraka Slint
Name[ta]=ஆவணப்படுத்தல் Slint
Name[te]=డాక్యుమెంటేషన్ Slint
Name[th]=เอกสารประกอบ Slint
Name[tr]=Dokümantasyon Slint
Name[uk]=Документація Slint
Name[vi]=Tài liệu Slint
Name[yo]=Awọn iwe aṣẹ Slint
Name[zh]=文档 Slint
Type=Application
Comment=The Slint documentation
Terminal=false
Exec=sh /usr/bin/start-slint-doc
Icon=dialog-information
Categories=Settings;
GenericName=Documentation
