[Desktop Entry]
Name=Rescue boot stick
Exec=mate-terminal --hide-menubar -e /usr/sbin/rescuebootstick
#Icon=/usr/share/icons/Faenza/apps/32/boot.png
#Icon=/usr/share/icons/mate-colors-common/48x48/apps/reboot-notifier.png
Icon=drive-removable-media-usb-pendrive
Terminal=true
Type=Application
Categories=Application;System;
StartupNotify=true
