[Desktop Entry]
Version=1.0
Name=Slint Forum
Type=Application
Comment=Slint Forum hosted by Salix
Terminal=false
Exec=https://forum.salixos.org/viewforum.php?f=44
Icon=internet-web-browser
Categories=System;
GenericName=Slint Website
