Source: emacspeak-ss
Section: editors
Priority: optional
Maintainer: Debian Accessibility Team <pkg-a11y-devel@lists.alioth.debian.org>
Uploaders: Paul Gevers <elbrus@debian.org>
Build-Depends: debhelper (>= 10~),
	       po-debconf,
	       dpkg-dev (>= 1.16.1.1)
Vcs-Git: https://anonscm.debian.org/git/collab-maint/emacspeak-ss.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/emacspeak-ss.git
Standards-Version: 4.2.0

Package: emacspeak-ss
Architecture: linux-any
Replaces: emacspeak-dt,
	  emacspeak-dt-tcl,
	  emacspeak-bs-tcl
Depends: ${shlibs:Depends},
	 emacspeak(>=28.0),
	 tcl,
	 tclx8.4,
	 adduser,
	 ${misc:Depends},
	 ${perl:Depends},
Description: Emacspeak speech servers for several synthesizers
 emacspeak-ss is an interface between Emacspeak and any of several
 speech synthesizers: DoubleTalk PC version 5.20 or later (internal),
 DoubleTalk LT version 4.20 or later (serial port version), LiteTalk
 version 4.20 or later, Braille 'n Speak, Type 'n Speak, Braille Lite,
 Apollo 2 from Dolphin, or Accent SA.  If you have a DoubleTalk PC,
 you also need the dtlk device driver - either the module or compiled
 into your kernel.
