[Desktop Entry]
Version=1.0
Name=Dashboard Slint
Name[ar]=Slint لوحة القيادة
Name[bg]=Табло Slint
Name[bn]=ড্যাশবোর্ড Slint
Name[bs]=Dashboard Slint
Name[cs]=Přístrojová deska Slint
Name[da]=Pnstrumentbræt Slint
Name[de]=Instrumententafel Slint
Name[el]=ταμπλό Slint
Name[en]=Dashboard Slint
Name[eo]=Instrumentpanelo Slint
Name[es]=Tablero Slint
Name[et]=Armatuurlaud Slint
Name[fa]=Slint داشبورد
Name[fi]=kojelauta Slint
Name[fr]=Tableau de bord Slint
Name[ga]=Painéal na nIonstraimí Slint
Name[gu]=ડેશબોર્ડ Slint
Name[he]=gaban mota Slint
Name[hi]=डैशबोर्ड Slint
Name[hr]=Kontrolna ploča
Name[hu]=Műszerfal Slint
Name[id]=Dasbor Slint
Name[it]=Cruscotto Slint
Name[ja]=ダッシュボード Slint
Name[kn]=ಡ್ಯಾಶ್ಬೋರ್ಡ್ Slint
Name[ko]=계기반 Slint
Name[lt]=Prietaisų skydelis Slint
Name[lv]=Informācijas panelis Slint
Name[ml]=ഡാഷ്ബോർഡ് Slint
Name[mr]=डॅशबोर्ड Slint
Name[ms]=Papan pemuka slint
Name[mt]=Dashboard Slint
Name[nb]=Dashbord Slint
Name[nl]=Dashboard Slint
Name[pa]=ਡੈਸ਼ਬੋਰਡ Slint
Name[pl]=Deska rozdzielcza Slint
Name[ps]=Slint ډشبورډ
Name[ro]=Bord Slint
Name[ru]=Панель приборов Slint
Name[sk]=prístrojová doska Slint
Name[sr]=Командна табла Slint
Name[sv]=Instrumentbräda Slint
Name[sw]=Dashibodi Slint
Name[ta]=கருவி குழு Slint
Name[te]=డాష్బోర్డ్ Slint
Name[th]=แผงควบคุม Slint
Name[tr]=Gösterge paneli Slint
Name[uk]=Панель приладів Slint
Name[vi]=bảng điều khiển Slint
Name[yo]=Slint Iṣakoso ile-
Name[zh]=儀表板 Slint
Type=Application
Comment=The Dashboard Slint
Terminal=false
Exec=qcontrolcenter
Icon=document-viewer
Categories=System;Settings;
GenericName=Dashboard
