[Desktop Entry]
Version=1.0
Name=Slint Documentation
Type=Application
Comment=Documents about Slint 
Terminal=false
Exec=https://slint.fr/doc/
Icon=system-help
Categories=System;
GenericName=Documentation
