[Desktop Entry]
Version=1.0
Name=Slint Website
Type=Application
Comment=Slint Website
Terminal=false
Exec=https://slint.fr
Icon=internet-web-browser
Categories=System;
GenericName=Slint Website
