[Desktop Entry]
Type=Application
Name=Help MATE
Name[am]=እርዳታ
Name[ar]=مساعدة MATE
Name[be]=Даведка MATE
Name[bg]=Помощ MATE
Name[br]=Skoazell MATE
Name[bs]=Pomoć MATE
Name[ca]=Ajuda MATE
Name[ca@valencia]=Ajuda MATE
Name[cs]=Nápověda MATE
Name[cy]=Cymorth MATE
Name[da]=Hjælp MATE
Name[de]=Hilfe MATE
Name[el]=Βοήθεια MATE
Name[en_AU]=Help MATE
Name[en_GB]=Help MATE
Name[es]=Ayuda MATE
Name[es_CL]=Ayuda MATE
Name[es_CO]=Ayuda MATE
Name[es_PR]=Ayuda MATE
Name[et]=Abi MATE
Name[eu]=Laguntza MATE
Name[fa]=راهنما MATE
Name[fi]=Ohje MATE
Name[fr]=Aide MATE
Name[fr_CA]=Aide MATE
Name[frp]=Èda MATE
Name[gl]=Axuda MATE
Name[hr]=Pomoć MATE
Name[hu]=Súgó MATE
Name[hy]=Օգնությու MATEն
Name[id]=Bantuan MATE
Name[is]=Hjálp MATE
Name[it]=Aiuto MATE
Name[ja]=ヘルプ MATE
Name[jv]=Tetulungan MATE
Name[kk]=Көмек MATE
Name[kn]=ಸಹಾಯ MATE
Name[ko]=도움말 MATE
Name[ku_IQ]=یارمەتی MATE
Name[lt]=Žinynas MATE
Name[lv]=Palīdzība MATE
Name[ms]=Bantuan MATE
Name[nb]=Hjelp MATE
Name[ne]=सहायता MATE
Name[nl]=Hulp MATE
Name[oc]=Ajuda MATE
Name[pl]=Pomoc MATE
Name[pms]=Agiut MATE
Name[pt]=Ajuda MATE
Name[pt_BR]=Ajuda MATE
Name[ro]=Ajutor MATE
Name[ru]=Справка MATE
Name[sc]=Agiudu MATE
Name[sk]=Pomocník MATE
Name[sl]=Pomoč MATE
Name[sq]=Ndihmë MATE
Name[sr]=Помоћ MATE
Name[sv]=Hjälp MATE
Name[th]=ระบบช่วยเหลือ MATE
Name[tr]=Yardım MATE
Name[uk]=Довідка MATE
Name[uz]=Yordam MATE
Name[vi]=Trợ giúp MATE
Name[zh_CN]=帮助
Name[zh_HK]=協助
Name[zh_TW]=求助
Comment=Get help with MATE
Comment[am]=ስለ ሜት እርዳታ ያግኙ
Comment[ar]=أحصل على مساعدة مع متّة
Comment[be]=Атрымаць даведку пра MATE
Comment[bg]=Получаване на помощ за MATE
Comment[br]=Kaout skoazell digant MATE
Comment[bs]=Dobij pomoć sa MATE
Comment[ca]=Obteniu ajuda amb MATE
Comment[ca@valencia]=Obtingueu ajuda del MATE
Comment[cs]=Získat nápovědu pro MATE
Comment[cy]=Mynnwch gymorth â MATE
Comment[da]=Få hjælp til MATE
Comment[de]=Hilfe für MATE erhalten
Comment[el]=Βοήθεια για το MATE
Comment[en_AU]=Get help with MATE
Comment[en_GB]=Get help with MATE
Comment[es]=Obtener ayuda con MATE
Comment[es_CL]=Obtener ayuda con MATE
Comment[es_CO]=Obtener ayuda con MATE
Comment[et]=MATE abiteabe näitamine
Comment[eu]=Eskuratu MATEri buruzko laguntza
Comment[fa]=درباره ماته راهنمایی دریافت کنید
Comment[fi]=Etsi neuvoja Maten käyttöön
Comment[fr]=Obtenir de l'aide avec MATE
Comment[gl]=Obter axuda con MATE
Comment[hr]=Pribavi pomoć za MATE
Comment[hu]=Segítség kérése a MATE-hez
Comment[hy]=Տեղեկություն MATE-ի մասին
Comment[id]=Dapatkan bantuan dengan MATE
Comment[is]=Fá hjálp með MATE
Comment[it]=Ottieni aiuto con MATE
Comment[ja]=MATE のヘルプを取得
Comment[jv]=Kasingunan titulung karo MATE
Comment[kk]=MATE бойынша көмекті алу
Comment[kn]=MATE ಒಂದಿಗೆ ಸಹಾಯ ಪಡೆ
Comment[ko]=마테 도움말 얻기
Comment[ku_IQ]=یارمەتی بەدەست بێنە لە MATE
Comment[lt]=Pagalba naudojantis MATE
Comment[lv]=Iegūt palīdzību ar MATE
Comment[ms]=Dapatkan bantuan MATE
Comment[nb]=Få hjelp med MATE
Comment[ne]=MATE का लागि सहायता प्राप्त गर्नुहोस्
Comment[nl]=Hulp voor MATE krijgen
Comment[pl]=Uzyskaj pomoc z MATE
Comment[pms]=Oten agiut con MATE
Comment[pt]=Obtenha ajuda com MATE
Comment[pt_BR]=Obter ajuda com o MATE
Comment[ro]=Obține ajutor pentru MATE 
Comment[ru]=Получить справку по MATE
Comment[sk]=Dostať pomoc od MATE
Comment[sl]=Dobi pomoč z MATE
Comment[sq]=Merr ndihmë me MATE
Comment[sr]=Набавите помоћ са Мејтом
Comment[sv]=Få hjälp med MATE
Comment[th]=รับความช่วยเหลือเกี่ยวกับ MATE
Comment[tr]=MATE hakkında yardım al
Comment[uk]=Отримати довідку по MATE
Comment[uz]=MATE ga oid yordam olish
Comment[vi]=Trợ giúp về MATE
Comment[zh_CN]=获取 MATE 帮助
Comment[zh_HK]=取得關於 MATE 的協助
Comment[zh_TW]=獲得 MATE 的幫助
Keywords=documentation;information;manual;
Icon=help-browser
Exec=mate-user-guide
StartupNotify=true
Terminal=false
Categories=GTK;Core;Documentation;Utility
OnlyShowIn=MATE;
