@define-color borders_breeze #4b4b4b;
@define-color content_view_bg_breeze #404040;
@define-color error_color_backdrop_breeze #8c8c8c;
@define-color error_color_breeze #8c8c8c;
@define-color error_color_insensitive_backdrop_breeze #797979;
@define-color error_color_insensitive_breeze #797979;
@define-color insensitive_base_color_breeze #404040;
@define-color insensitive_base_fg_color_breeze #b5b5b5;
@define-color insensitive_bg_color_breeze #646464;
@define-color insensitive_borders_breeze #515151;
@define-color insensitive_fg_color_breeze #191919;
@define-color insensitive_selected_bg_color_breeze #646464;
@define-color insensitive_selected_fg_color_breeze #191919;
@define-color insensitive_unfocused_bg_color_breeze #646464;
@define-color insensitive_unfocused_fg_color_breeze #191919;
@define-color insensitive_unfocused_selected_bg_color_breeze #646464;
@define-color insensitive_unfocused_selected_fg_color_breeze #191919;
@define-color link_color_breeze #3daee9;
@define-color link_visited_color_breeze #644a9b;
@define-color success_color_backdrop_breeze #00892b;
@define-color success_color_breeze #00892b;
@define-color success_color_insensitive_backdrop_breeze #107730;
@define-color success_color_insensitive_breeze #107730;
@define-color theme_base_color_breeze #404040;
@define-color theme_bg_color_breeze #646464;
@define-color theme_button_background_backdrop_breeze #464646;
@define-color theme_button_background_backdrop_insensitive_breeze #464646;
@define-color theme_button_background_insensitive_breeze #464646;
@define-color theme_button_background_normal_breeze #464646;
@define-color theme_button_decoration_focus_backdrop_breeze #6080a0;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #5a728a;
@define-color theme_button_decoration_focus_breeze #6080a0;
@define-color theme_button_decoration_focus_insensitive_breeze #5a728a;
@define-color theme_button_decoration_hover_backdrop_breeze #90a8c0;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #7e90a2;
@define-color theme_button_decoration_hover_breeze #90a8c0;
@define-color theme_button_decoration_hover_insensitive_breeze #7e90a2;
@define-color theme_button_foreground_active_backdrop_breeze #ffffff;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #191919;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #191919;
@define-color theme_button_foreground_backdrop_breeze #f0f0f0;
@define-color theme_button_foreground_backdrop_insensitive_breeze #c6c6c6;
@define-color theme_button_foreground_insensitive_breeze #c6c6c6;
@define-color theme_button_foreground_normal_breeze #f0f0f0;
@define-color theme_fg_color_breeze #000000;
@define-color theme_hovering_selected_bg_color_breeze #8c8c8c;
@define-color theme_selected_bg_color_breeze #5983c5;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #dcdcdc;
@define-color theme_titlebar_background_backdrop_breeze #cacfd4;
@define-color theme_titlebar_background_breeze #90a8c0;
@define-color theme_titlebar_background_light_breeze #646464;
@define-color theme_titlebar_foreground_backdrop_breeze #4f555d;
@define-color theme_titlebar_foreground_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #4f555d;
@define-color theme_titlebar_foreground_insensitive_breeze #4f555d;
@define-color theme_unfocused_base_color_breeze #404040;
@define-color theme_unfocused_bg_color_breeze #646464;
@define-color theme_unfocused_fg_color_breeze #000000;
@define-color theme_unfocused_selected_bg_color_alt_breeze #5983c5;
@define-color theme_unfocused_selected_bg_color_breeze #5983c5;
@define-color theme_unfocused_selected_fg_color_breeze #ffffff;
@define-color theme_unfocused_text_color_breeze #dcdcdc;
@define-color theme_unfocused_view_bg_color_breeze #404040;
@define-color theme_unfocused_view_text_color_breeze #b5b5b5;
@define-color theme_view_active_decoration_color_breeze #515151;
@define-color theme_view_hover_decoration_color_breeze #515151;
@define-color tooltip_background_breeze #c0cee0;
@define-color tooltip_border_breeze #9da9b7;
@define-color tooltip_text_breeze #34383d;
@define-color unfocused_borders_breeze #4b4b4b;
@define-color unfocused_insensitive_borders_breeze #515151;
@define-color warning_color_backdrop_breeze #8c8c8c;
@define-color warning_color_breeze #8c8c8c;
@define-color warning_color_insensitive_backdrop_breeze #797979;
@define-color warning_color_insensitive_breeze #797979;
