[Desktop Entry]
Name=Dotnew
Comment=Manage .new system settings files
Comment[da]=Håndtér .new-systemindstillingsfiler
Comment[de]=Verwalte die .new Konfigurationsdateien
Comment[el]=Διαχείριση νέων αρχείων ρυθμίσεων συστήματος .new
Comment[es]=Administrar archivos .new de configuración del sistema
Comment[es_AR]=Administrar archivos .new de configuración del sistema
Comment[fi]=Hallitse .new järjestelmäasetus tiedostoja
Comment[fr]=Gérer les fichiers configuration système '.new'
Comment[he]=נהל קבצי תצורת מערכת new.
Comment[hu]=Rendszerbeállításokat tartalmazó fájlok (.new) kezelése
Comment[it]=Gestisci i file di configurazione di sistema .new
Comment[ja]=.new　システム設定ファイル管理する。
Comment[nl]=Beheer .new systeeminstellingen bestanden
Comment[pl]=Zarządzaj .new plikami ustawień systemu
Comment[pt_BR]=Administrar arquivos de configurações de sistema .new
Comment[pt_PT]=Gerir definições dos ficheiros .new
Comment[ro]=Gestionează fișierele de configurare sistem .new
Comment[ru]=Управление конфигурационными new-файлами
Comment[sv]=Hantera .new system inställnings filer
Comment[uk]=Керування .new файлами налаштувань
Exec=gksu /usr/sbin/dotnew-gtk
Icon=dotnew
Terminal=false
Type=Application
Categories=Application;System;;
StartupNotify=true
